<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Practice Suite">
    <listeners>
        <listener class-name="com.tecskool.listeners.TestListener" />
    </listeners>
    <test name="Login Tests">
        <classes>
            <class name="com.tecskool.tests.LoginTest" />
            <class name="com.tecskool.tests.PersonalInfoPageTest" />
            <class name="com.tecskool.tests.SelectionControlsPageTest" />
            <class name="com.tecskool.tests.DropdownPageTest" />
            <class name="com.tecskool.tests.AutoSuggestionPageTest" />
            <class name="com.tecskool.tests.ButtonControlsPageTest" />
            <class name="com.tecskool.tests.DragDropPageTest" />
            <class name="com.tecskool.tests.AlertsPageTest" />
            <class name="com.tecskool.tests.HoverPageTest" />
        </classes>
    </test>
</suite>
